_site/
.sass-cache/
node_modules
dist
.tmp
.sass-cache
.DS_Store
app/bower_components
.idea
app/config.js
app/generated_scripts/
*.iml
/nbproject
*~
.sublime*
*.sublime-*
po/*.temp*
po/*.mo
lib-debug/
npm-debug.log
tags
languages
app/features/test
nginx.conf
