<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <!--<div class="6u">-->
                        <!--<h3>Accumsan</h3>-->
                        <!--<ul class="alt">-->
                            <!--<li><a href="#">Nascetur nunc varius</a></li>-->
                            <!--<li><a href="#">Vis faucibus sed tempor</a></li>-->
                            <!--<li><a href="#">Massa amet lobortis vel</a></li>-->
                            <!--<li><a href="#">Nascetur nunc varius</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <div class="6u">
                        <h3>Company</h3>
                        <ul class="alt">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Favorite quote:</h2>
                <p>“Excellence is an art won by training and habituation. We do not act rightly because we have virtue or excellence, but we rather have those because we have acted rightly. We are what we repeatedly do. Excellence, then, is not an act but a habit." - <i>Aristotle</i></p>
                <!--<ul class="icons">-->
                    <!--<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
                    <!--<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
                    <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
                    <!--<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
                    <!--<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>-->
                <!--</ul>-->
            </div>
        </div>
        <ul class="copyright">
            <li>This site is protected by copyright and trademark laws under Canadian and International law. All rights reserved. ©2017 Echofex Inc.</li>
        </ul>
    </div>
</footer>
