<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Welcome to Echofex</h2>
                <p>We provide help on data analytics, developing reactive application and modern web application</p>
                <!--<ul class="actions">-->
                    <!--<li><a href="#content" class="button big special">Sign Up</a></li>-->
                    <!--<li><a href="#elements" class="button big alt">Learn More</a></li>-->
                <!--</ul>-->
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
